Source: jquery-colorbox
Section: web
Priority: optional
Maintainer: Agustin Henze <tin@debian.org>
Build-Depends: debhelper (>= 9)
Build-Depends-Indep: slimit
Standards-Version: 3.9.4
Homepage: http://www.jacklmoore.com/colorbox
Vcs-Git: git://anonscm.debian.org/collab-maint/jquery-colorbox.git
Vcs-Browser: http://anonscm.debian.org/gitweb/?p=collab-maint/jquery-colorbox.git


Package: libjs-jquery-colorbox
Architecture: all
Depends: ${misc:Depends}, libjs-jquery
Recommends: javascript-common
Description: jQuery customizable lightbox
 A lightweight customizable lightbox plugin for jQuery. It supports photos,
 photo groups, slideshow, Ajax, inline, and Iframed content.
 .
 Features:
  * Lightweight: 10KB of JavaScript (less than 5KBs gzipped).
  * Appearance is controlled through CSS so it can be restyled.
  * Can be extended with callbacks & event-hooks without altering the source
    files.
  * Completely unobtrusive, options are set in the JS and require no changes to
    existing HTML.
  * Preloads upcoming images in a photo group.
  * Well vetted. ColorBox is one of the top jQuery plugins.
